<a 
 href="https://colab.research.google.com/github/LearnPythonWithRune/FinancialDataAnalysisWithPython/blob/main/colab/starter/01 - Introduction to Pandas.ipynb"
 target="_parent">
<img 
 src="https://colab.research.google.com/assets/colab-badge.svg"
alt="Open In Colab"/>
</a>

# 1. Introduction to DataFrames

This tutoral includes:

- Read data from CSV (it is downloadable from Yahoo! Finance drectly)
- Understand data: 
    - data size 
    - types
- Set index: understand index: 
- Parse dates 
    - Use index with **loc**
    - Use indexing with **iloc**

## Read data from CSV

Pandas is a Python package for data manipulation. Pandas uses DataFrames as the core data structure. Most data analyzing tasks are performed with DataFrames.

To make use of Pandas we have to install Pandas (uing Pip install pandas). Once you have installed the Pandas, you should be able to import and use pandas in your Jupyter Notebook. To verify that pandas is installed and working correctly, you can run the following code:  `print(pd.__version__)`


In Python, Dataframe is an Object with attributes. Objects are in rows and attributes are in columns. Every value within a column has the same data type, either text or numeric, but different columns can contain different data types.

In [1]:
#install pandas
#!pip install pandas
#print(pd._version_)

In [2]:
import pandas as pd
print(pd.__version__)

1.5.3

## Read data from CSV

Use the `.read_csv()` function to read in the data from a CSV file. This function takes the path to the CSV file as its argument. The following code assume that “AAPL.CSV” file is in the currently directory.

In [3]:
data = pd.read_csv("AAPL.csv", index_col=0, parse_dates=True)

## Understand data

When you get a new dataset, you store it in a DataFrame. The first thing you need to do is explore it and see what it contains. There are several useful methods and attributes for this.

  - print() shows the entir dataset.
  - .head() returns the first few rows (the “head” of the DataFrame).
  - .tail() returns the first few rows (the “head” of the DataFrame).
  - .info(). shows information on each of the columns, such as the data type and number of missing values.
  - .shape returns the number of rows and columns of the DataFrame. and 
  - .describe().

In [4]:
print(data)

                  Open        High         Low       Close   Adj Close  \
Date
2020-01-27   77.514999   77.942497   76.220001   77.237503   76.576187
2020-01-28   78.150002   79.599998   78.047501   79.422501   78.742477
2020-01-29   81.112503   81.962502   80.345001   81.084999   80.390747
2020-01-30   80.135002   81.022499   79.687500   80.967499   80.274246
2020-01-31   80.232498   80.669998   77.072502   77.377502   76.714989
...                ...         ...         ...         ...         ...
2021-01-20  128.660004  132.490005  128.550003  132.029999  132.029999
2021-01-21  133.800003  139.669998  133.589996  136.869995  136.869995
2021-01-22  136.279999  139.850006  135.020004  139.070007  139.070007
2021-01-25  143.070007  145.089996  136.539993  142.919998  142.919998
2021-01-26  143.600006  144.300003  141.369995  142.080002  142.080002

               Volume
Date
2020-01-27  161940000
2020-01-28  162234000
2020-01-29  216229200
2020-01-30  126743200
2020-01-31  199588400
...               ...
2021-01-20  104319500
2021-01-21  120529500
2021-01-22  114459400
2021-01-25  157282400
2021-01-26   50388565

[253 rows x 6 columns]

In [5]:
data.head(10)

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-27  77.514999  77.942497  76.220001  77.237503  76.576187  161940000
2020-01-28  78.150002  79.599998  78.047501  79.422501  78.742477  162234000
2020-01-29  81.112503  81.962502  80.345001  81.084999  80.390747  216229200
2020-01-30  80.135002  81.022499  79.687500  80.967499  80.274246  126743200
2020-01-31  80.232498  80.669998  77.072502  77.377502  76.714989  199588400
2020-02-03  76.074997  78.372498  75.555000  77.165001  76.504311  173985600
2020-02-04  78.827499  79.910004  78.407501  79.712502  79.029999  136616400
2020-02-05  80.879997  81.190002  79.737503  80.362503  79.674438  118826800
2020-02-06  80.642502  81.305000  80.065002  81.302498  80.606384  105425600
2020-02-07  80.592499  80.849998  79.500000  80.007500  79.510727  117684000

In [6]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-20,128.660004,132.490005,128.550003,132.029999,132.029999,104319500
2021-01-21,133.800003,139.669998,133.589996,136.869995,136.869995,120529500
2021-01-22,136.279999,139.850006,135.020004,139.070007,139.070007,114459400
2021-01-25,143.070007,145.089996,136.539993,142.919998,142.919998,157282400
2021-01-26,143.600006,144.300003,141.369995,142.080002,142.080002,50388565

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 253 entries, 2020-01-27 to 2021-01-26
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       253 non-null    float64
 1   High       253 non-null    float64
 2   Low        253 non-null    float64
 3   Close      253 non-null    float64
 4   Adj Close  253 non-null    float64
 5   Volume     253 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.8 KB

In [8]:
data.shape

(253, 6)

In [9]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,253.000000,253.000000,253.000000,253.000000,253.000000,2.530000e+02
mean,98.720781,100.196492,97.277569,98.801778,98.540516,1.444898e+08
std,23.203103,23.309938,22.798247,23.051128,23.194544,7.905464e+07
min,57.020000,57.125000,53.152500,56.092499,55.744217,2.225040e+07
25%,78.757500,79.677498,77.727501,78.739998,78.462914,9.435980e+07
50%,96.997498,98.500000,96.062500,97.057503,96.715965,1.295540e+08
75%,118.330002,119.629997,116.440002,118.275002,118.071297,1.808603e+08
max,143.600006,145.089996,141.369995,142.919998,142.919998,4.268848e+08

In [ ]:
data.dtypes

## Understand Index and use it quick access data

The *index* is an important part of a pandas DataFrame because it provides a way to easily identify and select rows based on the labels in the index, and it helps with the alignment of data in operations between DataFrames.

In [ ]:
data.index

In [ ]:
data.loc['2020-01-27']

In [ ]:
data.loc['2021-01-01':]

In [ ]:
data.loc[:'2020-07-01']

In [ ]:
data.iloc[0]

In [ ]:
data.iloc[-1]

# End