<a 
 href="https://colab.research.google.com/github/LearnPythonWithRune/FinancialDataAnalysisWithPython/blob/main/colab/starter/02 - Series.ipynb"
 target="_parent">
<img 
 src="https://colab.research.google.com/assets/colab-badge.svg"
alt="Open In Colab"/>
</a>

# 2. Series
- Use **type** to get data type
- Each column is a Series
- Series show data type (dtype)
- Calculate with Series
    - Daily change
    - Daily percentage change
    - Normalize data
- Similar to Excel
- Indexing with Series

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("AAPL.csv", index_col=0, parse_dates=True)

In [3]:
# Check file
data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-27  77.514999  77.942497  76.220001  77.237503  76.576187  161940000
2020-01-28  78.150002  79.599998  78.047501  79.422501  78.742477  162234000
2020-01-29  81.112503  81.962502  80.345001  81.084999  80.390747  216229200
2020-01-30  80.135002  81.022499  79.687500  80.967499  80.274246  126743200
2020-01-31  80.232498  80.669998  77.072502  77.377502  76.714989  199588400

In [4]:
# chack data types
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [5]:
# check data type
type(data)

pandas.core.frame.DataFrame

In [6]:
# Access to a clumn values
data['Close']

Date
2020-01-27     77.237503
2020-01-28     79.422501
2020-01-29     81.084999
2020-01-30     80.967499
2020-01-31     77.377502
                 ...
2021-01-20    132.029999
2021-01-21    136.869995
2021-01-22    139.070007
2021-01-25    142.919998
2021-01-26    142.080002
Name: Close, Length: 253, dtype: float64

In [7]:
# Check a column type
type(data['Close'])

pandas.core.series.Series

 Explore data [Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html)

## Calculate daily change

In [11]:
daily_chg = data['Open'] - data['Close']

In [12]:
data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-27  77.514999  77.942497  76.220001  77.237503  76.576187  161940000
2020-01-28  78.150002  79.599998  78.047501  79.422501  78.742477  162234000
2020-01-29  81.112503  81.962502  80.345001  81.084999  80.390747  216229200
2020-01-30  80.135002  81.022499  79.687500  80.967499  80.274246  126743200
2020-01-31  80.232498  80.669998  77.072502  77.377502  76.714989  199588400

In [15]:
type(daily_chg)

pandas.core.series.Series

In [16]:
# series can have .head() as DataFrame
daily_chg.head()

Date
2020-01-27    0.277496
2020-01-28   -1.272499
2020-01-29    0.027504
2020-01-30   -0.832497
2020-01-31    2.854996
dtype: float64

***note that the negtive value actually represents a increased value**

In [17]:
# Calculate daily change in percentage
daily_pct_chg = (data['Close'] - data['Open'])/data['Open']*100

In [19]:
daily_pct_chg.head()

Date
2020-01-27   -0.357990
2020-01-28    1.628278
2020-01-29   -0.033908
2020-01-30    1.038868
2020-01-31   -3.558403
dtype: float64

***note that the negtive value now represents a value decreased**

## Check specific column and row values

Pandas DataFrame syntax includes “loc” and “iloc” functions, eg.,  data_frame.loc[ ] and data_frame.iloc[ ]. Both functions are used to access rows and/or columns, where “loc” is for access by labels and “iloc” is for access by position, i.e. numerical indices.

In [21]:
# iloc
data['Close'].iloc[0]

77.237503

In [22]:
# index backwards
data['Close'].iloc[-1]

142.080002

In [23]:
# confirmation
data['Close'].tail()

Date
2021-01-20    132.029999
2021-01-21    136.869995
2021-01-22    139.070007
2021-01-25    142.919998
2021-01-26    142.080002
Name: Close, dtype: float64

In [24]:
# Normalisaztion - the Close price is divided by the first available Close price.
norm = data['Close']/data['Close'].iloc[0]

In [25]:
norm

Date
2020-01-27    1.000000
2020-01-28    1.028289
2020-01-29    1.049814
2020-01-30    1.048293
2020-01-31    1.001813
                ...
2021-01-20    1.709403
2021-01-21    1.772067
2021-01-22    1.800550
2021-01-25    1.850396
2021-01-26    1.839521
Name: Close, Length: 253, dtype: float64

In [26]:
# So any days close value will be that day's normalisation value times the first day clsoe value.
data['Close'].iloc[0]*norm.iloc[-1]

142.080002

In [27]:
data['Close'].iloc[-1]

142.080002

# End