<a 
 href="https://colab.research.google.com/github/LearnPythonWithRune/FinancialDataAnalysisWithPython/blob/main/colab/starter/06 - Simple Calculations - Volatility, SMA, and EMA.ipynb"
 target="_parent">
<img 
 src="https://colab.research.google.com/assets/colab-badge.svg"
alt="Open In Colab"/>
</a>

# 6. Calculating Financial parameters using NumPy

- [Pct change](https://www.investopedia.com/terms/p/percentage-change.asp)：represents the degree of change over time. 
Increase = New Number - Original Number 
% increase = Increase ÷ Original Number × 100.
- Log returns
- Standard deviation (Volatility)
- Rolling
    - Simple Moving Avarage
    - Exponential Moving Average

### Standard deviation

- $\sigma_{p} = \sigma_{daily}\times \sqrt{p}$
- $\sigma_{annually} = \sigma_{daily}\times \sqrt{252}$
 
    *(252 trading days per year)*

In [1]:
# load data 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook
data = pd.read_csv("AAPL.csv", index_col=0, parse_dates=True)

In [2]:
# import numpy and create a new column called Log returns
import numpy as np
data['Log returns'] = np.log(data['Close']/data['Close'].shift())

In [3]:
# check data
data.head()

,Open,High,Low,Close,Adj Close,Volume,Log returns
Date,,,,,,,
2020-01-27,77.514999,77.942497,76.220001,77.237503,76.576187,161940000,NaN
2020-01-28,78.150002,79.599998,78.047501,79.422501,78.742477,162234000,0.027897
2020-01-29,81.112503,81.962502,80.345001,81.084999,80.390747,216229200,0.020716
2020-01-30,80.135002,81.022499,79.687500,80.967499,80.274246,126743200,-0.001450
2020-01-31,80.232498,80.669998,77.072502,77.377502,76.714989,199588400,-0.045352