<a 
 href="https://colab.research.google.com/github/LearnPythonWithRune/FinancialDataAnalysisWithPython/blob/main/colab/starter/03 - Work with DataFrames.ipynb"
 target="_parent">
<img 
 src="https://colab.research.google.com/assets/colab-badge.svg"
alt="Open In Colab"/>
</a>

# 3. Modify DataFrames and Statistic Summary Functions
- Calculate with columns
- Create new columns
- Drop columns
- Min, Max, Argmin, and Argmax
- Mean

In [1]:
# load data into DataFrame
import pandas as pd
data = pd.read_csv("AAPL.csv", index_col=0, parse_dates=True)
data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-27  77.514999  77.942497  76.220001  77.237503  76.576187  161940000
2020-01-28  78.150002  79.599998  78.047501  79.422501  78.742477  162234000
2020-01-29  81.112503  81.962502  80.345001  81.084999  80.390747  216229200
2020-01-30  80.135002  81.022499  79.687500  80.967499  80.274246  126743200
2020-01-31  80.232498  80.669998  77.072502  77.377502  76.714989  199588400

In [2]:
# Add a column called 'Daily chg'
data['Daily chg'] = data['Close'] - data['Open']

In [3]:
# Check the new column
data.head()

,Open,High,Low,Close,Adj Close,Volume,Daily chg
Date,,,,,,,
2020-01-27,77.514999,77.942497,76.220001,77.237503,76.576187,161940000,-0.277496
2020-01-28,78.150002,79.599998,78.047501,79.422501,78.742477,162234000,1.272499
2020-01-29,81.112503,81.962502,80.345001,81.084999,80.390747,216229200,-0.027504
2020-01-30,80.135002,81.022499,79.687500,80.967499,80.274246,126743200,0.832497
2020-01-31,80.232498,80.669998,77.072502,77.377502,76.714989,199588400,-2.854996

In [4]:
# add second column 'Normalized' and check

data['Normalized'] = data['Close'] / data['Close'].iloc[0]
data.head()

,Open,High,Low,Close,Adj Close,Volume,Daily chg,Normalized
Date,,,,,,,,
2020-01-27,77.514999,77.942497,76.220001,77.237503,76.576187,161940000,-0.277496,1.000000
2020-01-28,78.150002,79.599998,78.047501,79.422501,78.742477,162234000,1.272499,1.028289
2020-01-29,81.112503,81.962502,80.345001,81.084999,80.390747,216229200,-0.027504,1.049814
2020-01-30,80.135002,81.022499,79.687500,80.967499,80.274246,126743200,0.832497,1.048293
2020-01-31,80.232498,80.669998,77.072502,77.377502,76.714989,199588400,-2.854996,1.001813

In [5]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume,Daily chg,Normalized
Date,,,,,,,,
2021-01-20,128.660004,132.490005,128.550003,132.029999,132.029999,104319500,3.369995,1.709403
2021-01-21,133.800003,139.669998,133.589996,136.869995,136.869995,120529500,3.069992,1.772067
2021-01-22,136.279999,139.850006,135.020004,139.070007,139.070007,114459400,2.790008,1.800550
2021-01-25,143.070007,145.089996,136.539993,142.919998,142.919998,157282400,-0.150009,1.850396
2021-01-26,143.600006,144.300003,141.369995,142.080002,142.080002,50388565,-1.520004,1.839521

## Column’s statistics summary

Pandas has many statistical summary and calculations works on a data column. 

.sum(), .cumsum(), .quantile(), .median(), .mode(), .min(), .max(), .var(), .std(), and .std() etc.

In [6]:
# find the minimum of a column
data['Close'].min()

56.092499

In [7]:
# find the index of the minimum value 
data['Close'].argmin()

39

In [9]:
data['Normalized'].min()

0.7262339772946828

In [10]:
data['Normalized'].argmin()

39

In [11]:
data['Close'].max()

142.919998

In [12]:
data['Close'].argmax()

251

In [13]:
# get the mean value of a column
data['Close'].mean()

98.80177844268775

## Remove columns of data 

It is always good practice to remove the columns of data we do not intend to use anymore. This can be done by using drop().

In [14]:
data.drop(labels=['High', 'Low', 'Adj Close', 'Volume'], axis=1, inplace=True)

Above code:

-	labels=[‘High’, ‘Low’, ‘Adj Close’, ‘Volume’] sets the labels of the columns we want to remove.
-	axis=1 sets the axis of the labels. Default is 0, and will look for the labels on the index. While axis 1 is the column names.
-	inplace=True says it should actually remove the columns on the DataFrame we work on. Otherwise it will return a new DataFrame without the columns.

In [15]:
data

                  Open       Close  Daily chg  Normalized
Date
2020-01-27   77.514999   77.237503  -0.277496    1.000000
2020-01-28   78.150002   79.422501   1.272499    1.028289
2020-01-29   81.112503   81.084999  -0.027504    1.049814
2020-01-30   80.135002   80.967499   0.832497    1.048293
2020-01-31   80.232498   77.377502  -2.854996    1.001813
...                ...         ...        ...         ...
2021-01-20  128.660004  132.029999   3.369995    1.709403
2021-01-21  133.800003  136.869995   3.069992    1.772067
2021-01-22  136.279999  139.070007   2.790008    1.800550
2021-01-25  143.070007  142.919998  -0.150009    1.850396
2021-01-26  143.600006  142.080002  -1.520004    1.839521

[253 rows x 4 columns]

# End