<a 
 href="https://colab.research.google.com/github/LearnPythonWithRune/FinancialDataAnalysisWithPython/blob/main/colab/starter/05 - Pandas Datareader.ipynb"
 target="_parent">
<img 
 src="https://colab.research.google.com/assets/colab-badge.svg"
alt="Open In Colab"/>
</a>

# 5. Pandas-datareader read data with web service API
- https://pandas-datareader.readthedocs.io/en/latest/

In Financial analysis, we need a lot fo historical data. These data are generally provided by many online financial serivces like Nasdaq, Woeld bank and goveronment institutions and commercial serivces. 

These serivces are normally provide data with a service API. Pandas needs to read data form these APIs. Pandas provides a function called **pandas-datareader** it can read data dirctly from a serivce provider. The detailed document can be found from [pandas-datareader](https://pandas-datareader.readthedocs.io/en/latest/)

Functions from pandas_datareader.data and pandas_datareader.wb extract data from various Internet sources into a pandas DataFrame. Currently the following sources are supported:

- Tiingo - IEX - Alpha Vantage - Econdb - Enigma - Quandl - St.Louis FED (FRED) - Kenneth Frenchâ€™s data library

- World Bank - OECD - Eurostat - Thrift Savings Plan - Nasdaq Trader symbol definitions - Stooq

- MOEX - Naver Finance

- Yahoo Finance

In [ ]:
# Install using pip
# pip install pandas-datareader

In [7]:
import pandas_datareader as pdr

#This example reads 5-years of 10-year constant maturity yields on U.S. government bonds.
data = pdr.get_data_fred('GS10')

In [8]:
data.head()

            GS10
DATE
2017-04-01  2.30
2017-05-01  2.30
2017-06-01  2.19
2017-07-01  2.32
2017-08-01  2.21

In [9]:
data.tail()

            GS10
DATE
2021-09-01  1.37
2021-10-01  1.58
2021-11-01  1.56
2021-12-01  1.47
2022-01-01  1.76

## Read data from Yahoo Finance

In [3]:
import datetime as dt

In [4]:
# Ticker is the symbol of a company on the Stock market. AAPL is Apple
ticker = "AAPL"
start = dt.datetime(2019, 1, 1)
end = dt.datetime(2020, 12, 31)

data = pdr.get_data_yahoo(ticker, start, end)

In [5]:
data.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2019-01-02  39.712502  38.557499  38.722500  39.480000  148158800.0  38.277523
2019-01-03  36.430000  35.500000  35.994999  35.547501  365248800.0  34.464798
2019-01-04  37.137501  35.950001  36.132500  37.064999  234428400.0  35.936081
2019-01-07  37.207500  36.474998  37.174999  36.982498  219111200.0  35.856094
2019-01-08  37.955002  37.130001  37.389999  37.687500  164101200.0  36.539619

**The data is same with we download from the website and save into a CSV fiel and load the content of the CSV file in to DataFrame**

In [6]:
data.index

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-14', '2019-01-15',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=505, freq=None)

## Read historic stock prices data from Stooq

In [ ]:
# data2 = pdr.get_data_stooq(ticker, start)

In [12]:
nasdaq_sym = pdr.get_nasdaq_symbols()

# understand data we get. we can use .head(), .info(), .shape, .describe(), .columns, .index, .values

nasdaq_sym.head()

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
A,True,"Agilent Technologies, Inc. Common Stock",N,,False,100.0,False,NaN,A,A,False
AA,True,Alcoa Corporation Common Stock,N,,False,100.0,False,NaN,AA,AA,False
AAA,True,Listed Funds Trust AAF First Priority CLO Bond...,P,,True,100.0,False,NaN,AAA,AAA,False
AAAU,True,Goldman Sachs Physical Gold ETF Shares,Z,,True,100.0,False,NaN,AAAU,AAAU,False
AAC,True,Ares Acquisition Corporation Class A Ordinary ...,N,,False,100.0,False,NaN,AAC,AAC,False

In [15]:
# shape returns the number of rows and columns of the DataFrame
nasdaq_sym.shape

(12040, 11)

In [16]:
# info() shows information on each of the columns
nasdaq_sym.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12040 entries, A to ZYXI
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nasdaq Traded     12040 non-null  bool
 1   Security Name     12040 non-null  object
 2   Listing Exchange  12040 non-null  category
 3   Market Category   12040 non-null  object
 4   ETF               12040 non-null  bool
 5   Round Lot Size    12040 non-null  float64
 6   Test Issue        12040 non-null  bool
 7   Financial Status  5591 non-null   category
 8   CQS Symbol        6449 non-null   object
 9   NASDAQ Symbol     12040 non-null  object
 10  NextShares        12040 non-null  bool
dtypes: bool(4), category(2), float64(1), object(4)
memory usage: 893.3+ KB

In [17]:
# find company Apple's symbol using many str functions such as .str.contains("xxxx")

Name = nasdaq_sym["Security Name"].str.contains("Apple") 
nasdaq_sym[Name]

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
AAPL,True,Apple Inc. - Common Stock,Q,Q,False,100.0,False,N,NaN,AAPL,False
APLE,True,"Apple Hospitality REIT, Inc. Common Shares",N,,False,100.0,False,NaN,APLE,APLE,False

In [18]:
# ticker of Apple
ticker = nasdaq_sym[Name]["NASDAQ Symbol"]
ticker

Symbol
AAPL    AAPL
APLE    APLE
Name: NASDAQ Symbol, dtype: object

In [11]:
nasdaq_sym.loc['AAPL']

Nasdaq Traded                            True
Security Name       Apple Inc. - Common Stock
Listing Exchange                            Q
Market Category                             Q
ETF                                     False
Round Lot Size                          100.0
Test Issue                              False
Financial Status                            N
CQS Symbol                                NaN
NASDAQ Symbol                            AAPL
NextShares                              False
Name: AAPL, dtype: object

# End